[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
toml = "*"
pynput = "*"
pyautogui = "*"
undetected-chromedriver = "*"
opencv-python = "*"
pyside6 = "*"
instagrapi = "*"
moviepy = "*"
sqlalchemy = "*"

[dev-packages]
ruff = "*"
isort = "*"
blue = "*"

[requires]
python_version = "3.11"
